@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #f5f4c5;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f4c5;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: #97b5cb;
    height: 100px;
}
header.sticky
{
    border-bottom: .1rem solid #333;
}
header .logo
{
    position: relative;
}